body {
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 10px;
}

location-input {
  background-color: white;
}

location-input.error {
  background-color: rgb(255, 175, 175);
}

span.valid {
  display: none;
  text-align: center;
}

span.invalid {
  text-align: center;
  display: block;
  color: red;
}

body > div {
  background-color: aliceblue;
  padding: 10px;
  border-radius: 10px;
}

div#content {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 300px;
  text-align: center;
  margin: 0px auto 3px auto;
}

div#other-info,
div#temperature,
div#condition {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

div#temperature > div,
div#condition,
div#other-info > div {
  background-color: rgb(197, 197, 197);
}

div#condition {
  font-size: 40px;
}

div#temperature > div,
div#other-info > div {
  flex: 1;
}

div#humidity,
div#uv {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

div#other-info > div {
  width: 100%;
  font-size: 15px;
}
