#content {
  display: flex;
}

#sidebar {
  background-color: white;
  min-width: 300px;
  padding: 10px;
  border-right: 2px solid black;
  box-shadow: 0px 0px 50px 1px rgba(153, 153, 153, 0.548);
}

#search-bar {
  font-size: 25px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

#search-bar > label {
  font-weight: bold;
}

#search-bar > input {
  border-radius: 10px;
  height: 20px;
  border: 1px solid black;
}

#categories > h2 {
  margin: 0;
  font-size: 25px;
}

#categories > ul {
  margin: 0;
  display: flex;
  font-size: 20px;
  flex-direction: column;
}

#categories input {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}
