#content {
  display: flex;
}

#sidebar {
  background-color: white;
  min-width: 300px;
  padding: 10px;
  border-right: 2px solid black;
  box-shadow: 0px 0px 50px 1px rgba(153, 153, 153, 0.548);
}

#search-bar {
  font-size: 25px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

#search-bar > label {
  font-weight: bold;
}

#search-bar > input {
  border-radius: 10px;
  height: 20px;
  border: 1px solid black;
}

#categories > h2 {
  margin: 0;
  font-size: 25px;
}

#categories > ul {
  margin: 0;
  display: flex;
  font-size: 20px;
  flex-direction: column;
}

#categories input {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

#main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#main > h2 {
  padding: 10px;
  margin: 0;
}

#book-container {
  padding: 0px 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

li.book-info {
  height: 300px;
  width: 100px;
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  border-radius: 10px;
  background-color: white;
  border: 2px solid black;
}

div.book-title-price {
  display: flex;
  flex-direction: row;
}

div.book-title-author {
  text-align: left;
}

li.book-info img {
  width: 100px;
  height: auto;
  border: 2px solid black;
}

li.book-info h3,
li.book-info h4 {
  margin: 0;
}

li.book-info h4 {
  color: grey;
  font-weight: 500;
}
