#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 90vh;
}

h1 {
  font-size: 60px;
}

ul {
  margin: 240px 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
  flex-wrap: wrap;
}

li {
  background-color: aliceblue;
  border-radius: 10px;
}

img {
  width: 150px;
  height: auto;
}
